{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react"
  ],

  "plugins": [
    "external-helpers"
  ],

  "env": {
    "development": {
      "plugins": [

      ]
    },

    "production": {
      "plugins": [
        "remove-comments"
      ]
    }
  }
}
